---

---

<a href="">
  <img class="site-logo" src="images/logo-light.svg" alt="" draggable="false"/>
  <span class="u-vh">Go to Modern Art Gallery homepage</span>
</a>

<style lang="scss">
  .site-logo {
  }
</style>