---

---

<section class="gallery | l-region l-wrapper">
  <div class="gallery__content--1 | l-flow">
    <h2>your day at the gallery</h2>
    <p>Wander through our distinct collections and find new insights about our artists. Dive into the details of their creative process.</p>
  </div>
  <div class="gallery__image--1">
    <picture>
      <source
        srcset="images/desktop/image-grid-1.jpg"
        media="(min-width: 40.001rem)"
        type="image/jpg"
      />
      <source
        srcset="images/mobile/image-grid-1.jpg"
        media="(max-width: 40rem)"
        type="image/jpg"
      />
      <img
        src="images/desktop/image-grid-1.jpg"
        alt="Two people walking and looking at a painting on a wall in an art gallery"
        width="635"
        height="400"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="gallery__image--2">
    <picture>
      <source
        srcset="images/desktop/image-grid-2.jpg"
        media="(min-width: 40.001rem)"
        type="image/jpg"
      />
      <source
        srcset="images/mobile/image-grid-2.jpg"
        media="(max-width: 40rem)"
        type="image/jpg"
      />
      <img
        src="images/desktop/image-grid-2.jpg"
        alt="Two people walking and looking at a painting on a wall in an art gallery"
        width="635"
        height="700"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="gallery__image--3">
    <picture>
      <source
        srcset="images/desktop/image-grid-3.jpg"
        media="(min-width: 40.001rem)"
        type="image/jpg"
      />
      <source
        srcset="images/mobile/image-grid-3.jpg"
        media="(max-width: 40rem)"
        type="image/jpg"
      />
      <img
        src="images/desktop/image-grid-3.jpg"
        alt="Two people walking and looking at a painting on a wall in an art gallery"
        width="445"
        height="313"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="gallery__content--2 | l-flow l-box">
    <h2>come & be inspired</h2>
    <p>We’re excited to welcome you to our gallery and see how our collections influence you.</p>
  </div>
</section>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
@import '../styles/20-mixins/media-query.scss';

.gallery {
  display: grid;
  grid-template-areas: 
    "content1 image1 image1"
    "image2 image2 image3"
    "image2 image2 content2";
  gap: var(--space-gutter-s);
  grid-template-rows: auto auto 1fr;

  & :where(img, picture) {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  & p {
    max-inline-size: 22ch;
  }
}

.gallery__content--1 {
  grid-area: content1;
  margin-block: auto;
}

.gallery__content--2 {
  grid-area: content2;
  background-color: get(color, almost-black);
  color: get(color, white);
  display: flex;
  flex-direction: column;

  & h2 {
    color: get(color, white);
    text-wrap: unset;
    max-inline-size: max-content;
    max-inline-size: 10ch;
  }

  & p {
    max-inline-size: 25ch;
  }
  
  & :first-child {
    margin-block-start: auto;
  }
  
  & :last-child {
    margin-block-end: auto;
  }
}

.gallery__image--1 {
  grid-area: image1;
}

.gallery__image--2 {
  grid-area: image2;
}

.gallery__image--3 {
  grid-area: image3;
}

@include media-query('up-to', 'tablet') {
  .gallery {
    grid-template-areas: 
    "image1"
    "content1"
    "image2"
    "image3"
    "content2";

    p {
      max-inline-size: unset;
    }
  }
}
</style>