---
import CompLogoLink from "./CompLogoLink.astro";
---

<footer class="site-footer">
  <div class="l-wrapper l-region">
    <CompLogoLink />
  </div>
</footer>

<style lang="scss">
  .site-footer {
    background-color: black;
  }
</style>