---
import CompSkipLink from "./CompSkipLink.astro";
---

<header class="site-header">
  <CompSkipLink targetId="main" />

  <div class="l-wrapper">
    <!-- empty -->
  </div>
</header>

<style lang="scss">
  .site-header {
  }
</style>