---
import CompLogoLink from "./CompLogoLink.astro";
import CompSocialIcons from "./CompSocialIcons.astro";

const { footerVariant = "primary" } = Astro.props;
---

<footer class="site-footer" data-footer-variant={footerVariant}>
  <div class="l-wrapper l-region">
    <div class="l-repel">
      <div class="l-cluster">
        <CompLogoLink footerVariant={footerVariant} />
        <p>The Modern Art Gallery is free to all visitors and open seven days a week from 8am to 9pm. Find us at 99 King Street, Newport, USA.</p>
      </div>
      <CompSocialIcons footerVariant={footerVariant} />
    </div>
  </div>

  <!-- Leaflet JS -->
  <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script> -->
</footer>

<style lang="scss">
  @use "../styles/10-functions/theme-accessor" as *;
  
  .site-footer {
    --repel-vertical-alignment: flex-start;
    --cluster-vertical-alignment: flex-start;
    --space-repel: #{get(space, l)} #{get(space, 3xl)};
    --space-cluster: #{get(space, l)} #{get(space, 3xl)};

      background-color: var(--color-almost-black);
      color: white;

    &[data-footer-variant="secondary"] {
      background-color: get(background-color, gold);
      color: get(background-color, almost-black);
    }
    
    p {
      max-inline-size: 37ch;
    }
  }
</style>