@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit/Outfit-Light.woff2") format("woff2"),
    url("fonts/Outfit/Outfit-Light.woff") format("woff");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BigShouldersDisplay";
  src: url("fonts/Test/BigShouldersDisplay-Black.woff2") format("woff2"),
    url("fonts/Test/BigShouldersDisplay-Black.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}
